//
@import "_variables.scss";//tanmimdevroba ese unda iyos.. headeris importi unda iyos dabla radgan specifikurad magas exeba
@import "_common.scss";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // DEBUG:
  border:1px solid black;
  padding: 5px;
}

@import "../views/partials/_navbar.scss";
@import "../views/partials/_header.scss";
@import "../views/partials/_main.scss";
@import "../views/partials/_footer.scss";


html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
