header{
  div.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    a.logo-link{
      display: inline-block;
      height: 200px;
      img#header-logo{
        height: 100%;
      }
    }
  }
}
